/*******************base-color***********************/
/***************news-notice-list-color****************/
/*******************border-width***********************/
/*******************border-radius***********************/
/*******************width&height***********************/
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
ul > li {
  list-style: none;
}
.wis-dashed {
  border-top: 2px dashed #666;
  margin: 30px 0;
}
.wis-bc-default {
  background-color: #e6e6e6;
}
.wis-bc-primary {
  background-color: #0e90d2;
}
.wis-bc-secondary {
  background-color: #3bb4f2;
}
.wis-bc-success {
  background-color: #5eb95e;
}
.wis-bc-warning {
  background-color: #f37b1d;
}
.wis-bc-danger {
  background-color: #dd514c;
}
.wis-base-color {
  height: 30px;
  overflow: hidden;
  position: relative;
}
.wis-base-color > label {
  width: 80px;
  line-height: 30px;
  position: absolute;
}
.wis-base-color > div {
  height: 16px;
  margin: 7px 0 7px 80px;
}
.wis-btn {
  margin: 10px 0;
}
.wis-btn > button {
  outline: 0;
  width: 100%;
  padding: 6px 0;
  font-size: 1rem;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: none;
  color: #fff;
}
.wis-btn > .wis-btn-default {
  color: #000;
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}
.wis-btn > .wis-btn-primary {
  border-color: #0e90d2;
  background-color: #0e90d2;
}
.wis-btn > .wis-btn-secondary {
  border-color: #3bb4f2;
  background-color: #3bb4f2;
}
.wis-btn > .wis-btn-success {
  border-color: #5eb95e;
  background-color: #5eb95e;
}
.wis-btn > .wis-btn-warning {
  border-color: #f37b1d;
  background-color: #f37b1d;
}
.wis-btn > .wis-btn-danger {
  border-color: #dd514c;
  background-color: #dd514c;
}
.wis-form-group {
  margin-bottom: 10px;
}
.wis-form-group > label {
  font-size: 1rem;
  float: left;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  max-width: 40px;
  white-space: nowrap;
}
.wis-form-group > div {
  margin-left: 40px;
}
.wis-form-group > div > div {
  margin-right: 26px;
}
.wis-form-group > div > div > input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid;
  border-color: #3bb4f2;
  outline: 0;
  border-radius: 2px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wis-form-block {
  margin-bottom: 10px;
}
.wis-form-block > label {
  font-size: 1rem;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.wis-form-block > div.wis-fb-inputC {
  margin-right: 26px;
}
.wis-form-block > div.wis-fb-inputC > input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid;
  border-color: #3bb4f2;
  outline: 0;
  border-radius: 2px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wis-form-block > div.wis-fb-textareaC {
  margin-right: 14px;
}
.wis-form-block > div.wis-fb-textareaC > textarea {
  border: 1px solid #3bb4f2;
  border-radius: 2px;
  width: 100%;
  min-height: 80px;
  outline: 0px;
  padding: 6px;
  resize: vertical;
}
.wis-nor-select {
  position: relative;
}
.wis-nor-select:before {
  position: absolute;
  right: 10px;
  top: 2px;
  font-family: "FontAwesome";
  content: "\f107";
  font-size: 1.4rem;
  height: 30px;
  color: #0e90d2;
  line-height: 30px;
  background-color: #fff;
}
.wis-nor-select > select {
  position: relative;
  width: 100%;
  outline: 0;
  border: 1px solid #3bb4f2;
  border-radius: 2px;
  height: 34px;
  font-size: 1rem;
  padding: 4px 25px 4px 12px;
  background-color: rgba(0, 0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
}
.wis-pop-select {
  position: relative;
}
.wis-pop-select > p {
  border: 1px solid #3bb4f2;
  padding: 6px 25px 6px 6px;
  cursor: pointer;
  position: relative;
}
.wis-pop-select > p:before {
  position: absolute;
  right: 10px;
  top: 2px;
  font-family: "FontAwesome";
  content: "\f107";
  font-size: 1.4rem;
  height: 30px;
  color: #0e90d2;
  line-height: 30px;
  background-color: #fff;
}
.wis-pop-select > div {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}
.wis-pop-select > div > ul {
  position: fixed;
  background-color: #f1f1f1;
  z-index: 9999;
  box-shadow: 0 0 3px #666;
  border: 3px solid #fff;
  border-radius: 4px;
  overflow-y: scroll;
}
.wis-pop-select > div > ul > li {
  padding: 6px;
  border-bottom: 1px solid #fff;
}
ul.wis-tabs {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid #0e90d2;
  background-color: #f6f6f6;
}
ul.wis-tabs > li {
  display: inline-block;
  color: #666;
  cursor: pointer;
  padding: 8px 0;
  text-align: center;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
ul.wis-tabs > li.active {
  background-color: #0e90d2;
  color: #fff;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}
ul.wis-tabs > li > span {
  font-size: 1rem;
}
.wis-nnlist2 {
  padding-top: 39px;
  position: relative;
}
.wis-nnlist2 > ul.wis-listC-block {
  padding: 10px 8px;
}
.wis-nnlist2 > ul.wis-listC-block > li {
  border: 1px solid #e6e6e6;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.wis-nnlist2 > ul.wis-listC-block > li:hover {
  border-color: #3bb4f2;
}
.wis-nnlist2 > ul.wis-listC-block > li > p {
  word-break: break-all;
}
.wis-nnlist2 > ul.wis-listC-block > li > p.wis-lcb-title {
  font-size: 1rem;
  font-weight: bold;
}
.wis-nnlist2 > ul.wis-listC-block > li > p.wis-lcb-desc {
  font-size: 0.8rem;
}
.wis-nnlist2 > ul.wis-listC-block > li > p.wis-lcb-text {
  font-size: 1rem;
}
.wis-nnlist2 > ul.wis-listC-block > li > img {
  display: block;
  width: 100%;
  margin: 5px 0;
}
.wis-nnlist2 > ul.wis-listC-block > li > span {
  font-size: 13px;
  margin-right: 20px;
  color: #666;
}
.wis-nnlist {
  padding-top: 39px;
  position: relative;
}
.wis-nnlist > ul.wis-listC > li {
  padding: 10px;
  border-bottom: 1px solid #3bb4f2;
  cursor: pointer;
}
.wis-nnlist > ul.wis-listC > li > p {
  font-size: 1rem;
}
.wis-nnlist > ul.wis-listC > li > span {
  font-size: 13px;
  color: #666;
  margin-right: 20px;
}
.wis-nnlist > ul.wis-listC-angle > li {
  padding: 10px 30px 10px 10px;
  position: relative;
}
.wis-nnlist > ul.wis-listC-angle > li > i {
  position: absolute;
  top: 30%;
  color: #666;
  font-size: 1.6rem;
  width: 30px;
  right: 0;
  text-align: center;
}
.wis-detail-head {
  margin: 0 0.3em 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #3bb4f2;
  overflow: hidden;
}
.wis-detail-head > div.wis-tag > span {
  background-color: #5eb95e;
  color: #fff;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.5em;
  width: 80px;
  text-align: center;
}
.wis-detail-head > p {
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px 0;
}
.wis-detail-head > div.wis-dh-info {
  font-size: 0.8rem;
  color: #666;
}
.wis-detail-content {
  margin: 0 0.5em;
}
.wis-detail-content div.wis-imgC {
  margin: 6px 6px 6px 0 !important;
}
.wis-detail-content div.wis-imgC img {
  width: 100% !important;
  height: auto !important;
  display: block !important;
  border: 3px solid #fff !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35) !important;
}
.wis-table {
  width: 100%;
  border: solid #e6e6e6;
  border-width: 1px 0 0 1px;
  border-spacing: 0;
  text-shadow: none;
}
.wis-table > caption {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 5px;
}
.wis-table th {
  background-color: #0e90d2;
  color: #fff;
  font-size: 1rem;
}
.wis-table td {
  font-size: 0.8rem;
}
.wis-table th,
.wis-table td {
  border: solid #e6e6e6;
  border-width: 0 1px 1px 0;
  word-break: break-all;
  padding: 6px;
}
.wis-table > tfoot {
  font-weight: bold;
}
.wis-datatime {
  position: relative;
  margin-right: 38px;
}
.wis-datatime:before {
  position: absolute;
  right: -34px;
  top: 2px;
  content: "\f073";
  font-size: 1rem;
  height: 29px;
  color: #0e90d2;
  font-family: FontAwesome;
  line-height: 33px;
}
.wis-datatime > input {
  position: relative;
  border: 1px solid #3bb4f2;
  padding: 6px 24px 6px 12px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.wis-switch {
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 70px;
  border: none;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.wis-switch:after {
  background-color: #bbb;
  border: none;
  border-radius: 4px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 20px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.wis-switch.on:after {
  background-color: #fff;
  left: 45px;
}
.wis-switch.on,
.wis-switch.success.on {
  background-color: #5eb95e;
}
.wis-switch.primary.on {
  background-color: #0e90d2;
}
.wis-switch.secondary.on {
  background-color: #3bb4f2;
}
.wis-switch.warning.on {
  background-color: #f37b1d;
}
.wis-switch.danger.on {
  background-color: #dd514c;
}
.wis-error {
  background-color: #c7b895;
}
.wis-error > div > img {
  display: block;
  margin: 100px auto 40px;
  width: 200px;
}
.wis-error > div > p {
  text-align: center;
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-bottom: 10px;
}
.wis-card > div.info {
  margin: 10px;
  border-radius: 5px;
  background-color: #60a1f9;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
.wis-card > div.info > p.head {
  text-align: left;
  padding: 10px;
}
.wis-card > div.info > p.head > i {
  margin-right: 10px;
}
.wis-card > div.info > p.money {
  font-size: 3rem;
}
.wis-card > div.info > p.name {
  padding: 5px 0;
  background-color: #90bdfb;
}
.wis-card > div.info > p.states {
  padding: 10px;
}
.wis-card > div.info > p.states > span:first-child {
  margin-right: 10px;
}
.wis-card > div.search {
  border: solid #ddd;
  border-width: 1px 0;
  padding: 10px;
  font-size: 1rem;
}
.wis-card > div.search > p {
  margin-bottom: 10px;
}
.wis-card > div.search > div.wis-btn {
  margin-top: 30px;
}
.wis-card > div.search > div.wis-btn > button {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.wis-card > div.search > div.wis-nor-select:before {
  color: #000;
}
.wis-card > div.search > div.wis-nor-select > select {
  border-color: #ddd;
}
.wis-card-records {
  padding: 8px;
}
.wis-card-records > table {
  text-align: center;
  border: none;
}
.wis-card-records > table > caption {
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0;
  color: #aaa;
}
.wis-card-records > table th {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 8px 0;
  border: none;
  background-color: #e6e6e6;
  color: #000;
}
.wis-card-records > table tr > td {
  border-width: 0 0 1px 0;
  word-break: normal;
  width: 22%;
}
.wis-card-records > table tr > td > span {
  color: #aaa;
}
.wis-card-records > table tr > td:last-child {
  color: #f37b1d;
}
