

/*******************base-color***********************/
@color-default:			#e6e6e6;
@color-primary:         #0e90d2;
@color-secondary:    	#3bb4f2;
@color-success:   		#5eb95e;
@color-warning:         #f37b1d;
@color-danger:          #dd514c;


/***************news-notice-list-color****************/
@wis-tabs-ul-bg-color: 			#f6f6f6;
@wis-tabs-ul-border-color: 		@color-primary;
@wis-tabs-li-active-color: 		@color-primary;

@nnlist-li-border-color: 		@color-secondary;
@nnlist2-li-border-color: 		@color-default;
@nnlist2-li-hoverborder-color: 	@color-secondary;
@table-border-color: 			@color-default;
@table-th-bg-color: 			@color-primary;
@wis-error-bg-color: 			#C7B895;

